.conference-container {
  margin-left: 70px;
  margin-top: 60px;
  padding: 20px 20px;
}
.conference-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 1em;
}
.conference-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.conference-header .btn-cont {
  display: flex;
  align-items: center;
}
.conference-header button {
  padding: 8px 12px;
  border: none;
  background: #0077a3;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  width: 12em;
}

.conference-header button.active {
  background: #005577;
}
.conference-container .search-box {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}

.conference-container .table-container {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.conference-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.conference-table th,
.conference-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.conference-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.conference-table a {
  color: #0077a3;
  text-decoration: none;
}

.conference-table a:hover {
  text-decoration: underline;
}

.add-btn {
  background: #28a745;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-btn:hover {
  background: #218838;
}

.no-data {
  text-align: center;
  padding: 15px;
  font-style: italic;
}

@media (max-width: 600px) {
  .conference-container {
    margin-left: 50px;
  }

  .conference-header {
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .conference-table {
    width: 100%;
    min-width: 600px;
  }

  .conference-table th,
  .conference-table td {
    font-size: 14px;
    padding: 8px;
  }
}
